body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111111;
  cursor: crosshair;
}

#canvas {
  position: relative;
  box-shadow: 0 0 15px #000000;
}

canvas {
  position: absolute;
}
